.home__section{
    background-color: rgb(255, 85, 85);
    padding: 5rem;
    &-heading{
        font-family: sans-serif;
    }
    &-profilepic{
        font-family: sans-serif;
    }
    &-aboutme{
        font-family: sans-serif;
    }
}