*,
*::after,
*::before {
  margin: 0;
  border: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 75em) {
    html {
      font-size: 60%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 57.5%; } }
  @media screen and (max-width: 37.5em) {
    html {
      font-size: 55%; } }

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.6rem; }

.navbar {
  height: 10vh;
  background-color: lightblue;
  position: relative; }
  .navbar__list {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    height: 100%; }
  .navbar__listitems {
    padding: 1rem;
    margin: 3rem;
    font-size: 2rem; }
  .navbar__links {
    text-decoration: none; }
  @media screen and (max-width: 37.5em) {
    .navbar__list {
      display: fixed;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      background-color: grey;
      pointer-events: none;
      clip-path: circle(50px at 90% -15%);
      opacity: 0;
      color: black;
      transition: all 0.5s ease; }
    .navbar .animate-list {
      opacity: 1;
      color: black;
      z-index: 2000;
      pointer-events: all;
      clip-path: circle(1000px at 90% 1%); }
    .navbar__burger {
      width: 3rem;
      height: 3rem;
      z-index: 10;
      position: absolute;
      top: 70%;
      right: 5%;
      transform: translate(-5%, -70%);
      border-radius: 2px; }
      .navbar__burger-line {
        width: 3rem;
        height: 3px;
        background-color: white; }
        .navbar__burger-line:not(:last-child) {
          margin-bottom: 3px; } }
