.footer{
    background-color: #383838;
    padding : 2rem 0;
    
    &__text{
        width : 40% ;
        margin : 0 auto ;
        text-align: center;
        letter-spacing: 1.5px;;
        
        @include respond ('tab-land'){  width : 60% ;   }
        @include respond ('tab-port'){  width : 70% ;   }
        @include respond ('phone')   {  width : 80% ; font-size: 1.4rem;  }      
    }
}