.navbar{
   height : 10vh;
   //background-color: #5b78c7;
   background-color: #5f5f5f;
   position:relative;
   // position: fixed;
   // top:0;
   // width:100%;
     
    &__list{
         width: 50%;
         list-style: none;
         display:flex;         
         justify-content: space-evenly;
         align-items: center;
         margin:auto;
         height:100%;
     }

     &__listitems{
        padding: 1rem;
        margin : 3rem;
        font-size: 2rem;
        transition:  all 0.1s ease-in;
        &:hover{
         transform : scale(1.2);
         border : 1px solid white;
         border-radius: 10px;
      } 
     }

     &__links{
        text-decoration: none;
        color:white;
        transition: all 0.1s ease;
        &:hover{
         color:whitesmoke;
        }
     }
 
     @include respond('phone'){
         &__list{
            display: fixed;
            width:100%;
            height: 100vh;
            flex-direction: column;
            background-color:grey;
            pointer-events: none;
            clip-path: circle(50px at 90% -15%);            
            opacity : 1;             
            transition: all 0.9s ease;
            z-index: 1900;
         }
         
         .animate-list{
            opacity: 1;
            color:black;
            z-index: 2000;
            pointer-events: all;
            clip-path: circle(2000px at 90% 1%);
            position:fixed;
         }

         &__listitems{
            opacity : 0;
            transition: all 0.8s;
            &:nth-child(1){
               transform: translateX(7rem);
            }
            &:nth-child(2){
               transform: translateX(-7rem);
            }
            &:nth-child(3){
               transform: translateX(7rem);
            }
         }      

         .animate-listitem{
            opacity : 1;
            transform: translateX(0);
            pointer-events: all; 
         }

         &__links{
            font-size: 2rem;
            color:white;           
         }

         &__burger{
            width : 3rem;
            height : 3rem;
            z-index:3000;
            position : absolute;
            top:70%;
            right : 5%;
            transform: translate(-5%,-70%);          
            border-radius: 2px;
            &-line{
               z-index: 12;
               width: 3.5rem;
               height : 3px;
               background-color: white;
               &:not(:last-child){
                  margin-bottom: 5px;
               }
               &:first-child{
                  margin-top: 3px;
               }

               transition: all 0.3s ease;
            }
             &:hover{
                cursor: pointer;
             }
         }

         .animiate-line1 {
            transform: rotate(135deg) translateX(9px) translateY(-6px);   
            background-color: red;    
         }
         .animiate-line2 {
            opacity:0;
         }
         .animiate-line3 {
            transform: rotate(45deg) translateX(1px) translateY(4px);            
            background-color: red;       
         }

     }
}