
//Its good if we use em instead of rem or pixels.
// phone - 600px / tab-port - 900 / tab-land - 1200 / big-desktop : 1600
//The default browser font-size is 16px. Now 1em and 1rem are 16 pixels each.
//the em and rem are not supposed to be affected by the root-font-size but should only be affected by the browser font-size.
// then 16px - 1em
// 600px - ? : Answer is 600/16 = 37.5em
// 900px - 900/16 = 56.25em
// 1200px - 75em
// 1600px - 100em
// Now if the user changes the default browser font size to 22pixels - when will the media query for phone (37.5*16=600pixels) be triggered...?
// phone : 37.5*22 = 825pixels : [say....everything increased in size so the breakpoint got triggered early.]
@mixin respond($device){
    @if $device == 'phone' 
    {
        @media screen and (max-width : 37.5em)
        {
            @content
        }
    }

    @if $device == 'tab-port' 
    {
        @media screen and (max-width : 56.25em)
        {
            @content
        }
    }

    @if $device == 'tab-land' 
    {
        @media screen and (max-width : 75em)
        {
            @content
        }
    }

    @if $device == 'large-desktop' 
    {
        @media screen and (min-width : 100em)
        {
            @content
        }
    }

}