.navbar{
    
    &__list{
         list-style: none;
         display:flex;
         justify-content: center;
     }

     &__listitems{
        padding: 1rem;
        margin : 3rem;
     }

     &__links{
        text-decoration: none;
     }
}